# Seleccionar filas y columnas con iloc y loc

## El método iloc

Se utiliza en los DataFrames para seleccionar los elementos en base a su ubicación. Su sintaxis es data.iloc [filas,columnas]

En otras palabras...

Iloc está basado en índices enteros. Entonces aquí, tenemos que especificar filas y columnas por su índice entero.


Digamos que buscamos las filas con el índice 1, 2 o 200. Devolverá la primera, segunda y centésima fila, independientemente del nombre o las etiquetas que tengamos en el índice de nuestro conjunto de datos.

In [ ]:
#Iloc
#data.iloc[selección de fila, selección de columna]
#data.iloc[0] # primera fila
data.iloc[1] # segunda fila del dataframe
data.iloc[-1] # última fila del dataframe
# Columnas:
data.iloc[:,0] # primera columna del dataframe
data.iloc[:,1] # segunda columna del dataframe
data.iloc[:,-1] # última columna del dataframe
# Selección de múltiples columnas y filas 
data.iloc[0:5] # primeras cinco filas 
data.iloc[:, 0:2] # primeras dos columnas con todas las filas
data.iloc[[0,3,6,24], [0,5,6]] # primera, cuarta, septima, 25 filas + primera sexta septima columna. 
data.iloc[0:5, 5:8] # primeras 5 filas y quinta, sexta y séptima columna del dataframe

##  Método loc

Loc está basado en etiquetas, lo que significa que tenemos que especificar el nombre de las filas y columnas que necesitamos filtrar.
Su sintaxis también es data.iloc [filas,columnas]

In [ ]:
# Seleccionamos con condiciones
data.loc[(data.age >= 12) & (data.gender == 'M')]

In [2]:
import pandas as pd

In [7]:
df = pd.DataFrame({'Age': [40, 35, 90, 33, 43, 30, 5000],
                   'Color': ['Red', 'Green', 'Blue', 'Black', 'Gray', 'White',
                             'Brown'],
                   'Strenght': ['Mechanical', 'Phyisical', 'FrozenPhysical', 'Fast', 'Arrow',
                            'Space', 'Hammer'],
                   'Height': [165, 70, 120, 80, 180, 172, 150],
                   'Score': [4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2],
                   'State': ['MB', 'TX', 'FL', 'AL', 'AK', 'TX', 'AG']
                   },
                  index=['Iron_Man', 'Hulk', 'Capitan_America', 'Romanof', 'Clint',
                         'Capitana_Marvel', 'Thor'])

In [8]:
df

                  Age  Color        Strenght  Height  Score State
Iron_Man           40    Red      Mechanical     165    4.6    MB
Hulk               35  Green       Phyisical      70    8.3    TX
Capitan_America    90   Blue  FrozenPhysical     120    9.0    FL
Romanof            33  Black            Fast      80    3.3    AL
Clint              43   Gray           Arrow     180    1.8    AK
Capitana_Marvel    30  White           Space     172    9.5    TX
Thor             5000  Brown          Hammer     150    2.2    AG

In [15]:
df.iloc[:,0:2]

                  Age  Color
Iron_Man           40    Red
Hulk               35  Green
Capitan_America    90   Blue
Romanof            33  Black
Clint              43   Gray
Capitana_Marvel    30  White
Thor             5000  Brown

In [10]:
print(df.loc[df['Age'] < 40, ['Color', 'Height']])

                 Color  Height
Hulk             Green      70
Romanof          Black      80
Capitana_Marvel  White     172

In [16]:
print(df.loc[(df['Strenght']=='Arrow'),: ])

       Age Color Strenght  Height  Score State
Clint   43  Gray    Arrow     180    1.8    AK

In [18]:
df.iloc[2,:]

Age                     90
Color                 Blue
Strenght    FrozenPhysical
Height                 120
Score                    9
State                   FL
Name: Capitan_America, dtype: object

In [19]:
df.iloc[:,3]

Iron_Man           165
Hulk                70
Capitan_America    120
Romanof             80
Clint              180
Capitana_Marvel    172
Thor               150
Name: Height, dtype: int64